#contentAreas{
	background-color:white;
}
.off-canvas-sidebar{
	 background-color:#6347bc; 
	 }
.cd-section h4{
	color: black;
	font-weight: bold;
	padding: 2%;
}
.card-content select{
	width: 100%;
    padding: 2%;
    border-color:  gainsboro;
}
.card-content select:hover{
	border:2px solid #9c27b0;
}
.footer a{
	color: #9c27b0;
	font-weight:bold;
}
.logo{
	background-color: white;
}
.form-group:last-child{    
	margin-top: 10px;
}
.btn.btn-second{
	background-color: #9c27b0;    /*index*/
	color: white;
}
.btn.btn-secondary.btn-simple{ /*forgotpassword*/
	color: #9c27b0;
}
